:root {
    --desktop-min-size: 500px;
    --small-element-orientation: column;
    --navbar-orientation: row;
    /* --general-color: rgba(236, 156, 52, 1); */
    /* We want to store our general colour as a comma list, so that we can use RGBA */
    --general-color: 236, 156, 52;
    --general-texture: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
}

@media only screen and (min-width: var(--desktop-min-size)) {
    :root {
        --small-element-orientation: row;
    }
}

body {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--general-color), 0.7);
    margin: 0;
}

header {
    align-self: flex-start;
}

nav {
    display: flex;
    flex-direction: var(--navbar-orientation, row);
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgba(var(--general-color), 1);
}

nav ul {
    display: flex;
    flex-direction: var(--navbar-orientation, row);
    list-style-type: none;
}

.nav-link {
    padding: 1em;
    color: rgba(var(--general-color), 1);
    filter: hue-rotate(10deg) brightness(60%);
}

.nav-link a, .nav-link a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    /* color: red; */
    filter: brightness(30%);
}

#about {
    padding: 3em 0 0 0;
}